@import "reset.css";

.title {
    color: black;
    font-size: 20pt;
    font-weight: bold;
    position: absolute;
    left: 25%;
    top: 15%;
}

.format {
    color: darkgreen;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 25%;
    top: 25%;
}